<!DOCTYPE html>
<html>
  <head>
    <title>Splurty</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="row">
      <div class="col-3">
        <%= link_to root_path, class: 'logo' do %>
          <div class="circle">
             <br />
             Kappa
             <br />
              4Head
             <br />
              monkaS
          </div>
        <% end %>

      </div>
      <div class="col-4 slogan">
        Splurting our unsolicitied advice about food since the day I was born
      </div>
      <div class="col-5 links">
        <%= link_to 'Contribute', new_quote_path %>
        <%= link_to 'About', '#' %>
      </div>

    </header>

    <hr />

    <br class="clear"/>

    <div class="container">

    <%= yield %>

    </div>

    <div class="footer">
      <div class="container">
       <div class="row">
        <div class="col-6">
        <%= link_to "This isn't enough I need more", root_path , class: "next-quote" %>
        </div>
        <div class="col-6 footer-blurb">
          Proudly hacking in Los Angeles, CA by Wilson P.
        </div>
        
       </div>
      </div>
    </div>

  </body>
</html>
